@charset "utf-8";

header,footer{
  width:1000px;
}

header{
  background-color: #ffcccc;
}

#wrapper{
  display:flex;
  column-gap:1px;
}

#main{
  width:700px;
  background-color: #ccffcc;
}

#menu{
  width:300px;
  background-color: #ccccff;
}

footer{
  background-color: #ffccff;
}